@tailwind base;
@tailwind components;
@tailwind utilities;


/* Targeting the overall scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the entire scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: #555;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; /* Color of the scroll handle */
  border-radius: 5px; /* Roundness of the scroll handle */
  padding: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; /* Color of the scroll handle on hover */
}


[x-cloak] {
    display: none;
}

.breadcrumb {
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: white; 
    box-shadow: 0px 0px 10px #eee;
}

.breadcrumb .breadcrumb-item:not(.active):hover a {
    text-decoration: underline !important;
    transition: .3s ease-in-out;

}

.breadcrumb .active {
    color: gray;
}

.show-options .active{
  background-color: rgb(104,117,245);
  color: white;
  font-weight: bold;
  border-color: rgb(104,117,245);
}

/* Slider code */
  

  
.thumbnail.is-active {
  opacity: 1;
}

.splide__arrow {
  background-color: #1B8A6B !important;
}

@media (max-width: 786px) {
  .splide__arrow {
    display:none !important;
  }
}

.splide__arrow svg {
  fill: white !important;
}

.active-link {
  color:  #fff;
}

@media (max-width: 786px) {
  .active-link {
    background-color: rgb(20 184 166);
    color: white; 
  }
}


.whatsapp-icon {
  font-size: 60px;
  position: fixed;
  right: 40px;
  width: 40px;
  height: 40px;
  bottom: 80px;
  z-index: 1000;
  border-radius: 50%;
  color: var(--blue);
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--white);
   transition: .3s;
   animation-name: pulse;
     animation-duration: 1.5s;
     animation-timing-function: ease-out;
     animation-iteration-count: infinite;
 }
 
       @keyframes pulse {
     0% {
         box-shadow: 0 0 0 0 rgba(63, 246, 2, 0.5);
     }
     80% {
         box-shadow: 0 0 0 20px rgba(0, 136, 204, 0);
     }
 }
.whatsapp-icon:hover {
   transform: scale(1.1);
}

.page-head {
  background: white;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  top: 0;
  width: 100%;
}

/**
 * Ticker
 */


